<a href="https://colab.research.google.com/github/Supriyadandawate/pandas-in-detail/blob/main/Basic_Dataframe_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASIC PANDAS

#Basic DataFrame Creation

In [ ]:
#Create a DataFrame from a Dictionary
import pandas as pd
data = {
     "Name" :["Supriya", "sharvaree", "Jytosna", "Sonal"],
     "Age" :[23,33,44,63],
     "Addresss" :["palghar", "Delhi", "Gujrat", "Nagpur"]
}
dataframe = pd.DataFrame(data)
print("DataFrame of Dictionary")
print(dataframe)

DataFrame of Dictionary
        Name  Age Addresss
0    Supriya   23  palghar
1  sharvaree   33    Delhi
2    Jytosna   44   Gujrat
3      Sonal   63   Nagpur

In [ ]:
# create a DataFrame from list
import pandas as pd
list_of_data =[
    ["supriya",23,"ulhasnagar"],
    ["Akash",28,"Kolhapur"],
    ["Manswi",26,"amahadnagar"],
    ["priya",20,"Sangli"]
]

df_of_list = pd.DataFrame(list_of_data,columns =["Name","Age", "Address"])
print("DataFrame of list")
print(df_of_list)

DataFrame of list
      Name  Age      Address
0  supriya   23   ulhasnagar
1    Akash   28     Kolhapur
2   Manswi   26  amahadnagar
3    priya   20       Sangli

In [ ]:
# create a Dataframe from csv file
import pandas as pd
csv_file = pd.read_csv("/content/name_age_address.csv")
print(csv_file)

            Name  Age                           Address
0  Alice Johnson   25     123 Maple Street, Springfield
1      Bob Smith   30       456 Oak Avenue, Shelbyville
2  Charlie Brown   35       789 Pine Road, Capital City
3     Diana Ross   28        321 Elm Street, Ogdenville
4     Ethan Hunt   40  654 Birch Lane, North Haverbrook