<a href="https://colab.research.google.com/github/Supriyadandawate/pandas-in-detail/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Indian Festival Dates

In [2]:
import pandas as pd

In [3]:
data = {
    'Festival': ['Diwali', 'Holi', 'Durga Puja', 'Eid', 'Christmas'],
    'Date': ['2024-11-12', '2024-03-20', '2024-10-10', '2024-04-10', '2024-12-25'],
    'Type': ['Religious', 'Cultural', 'Religious', 'Religious', 'Cultural']
}

# Create a DataFrame
df_festivals = pd.DataFrame(data)

print(df_festivals)

     Festival        Date       Type
0      Diwali  2024-11-12  Religious
1        Holi  2024-03-20   Cultural
2  Durga Puja  2024-10-10  Religious
3         Eid  2024-04-10  Religious
4   Christmas  2024-12-25   Cultural

# 2.Indian Cities and Their States

In [4]:
import pandas as pd

# Data for Indian cities and states
data = {
    'City': ['Mumbai', 'Delhi', 'Bengaluru', 'Chennai', 'Kolkata'],
    'State': ['Maharashtra', 'Delhi', 'Karnataka', 'Tamil Nadu', 'West Bengal'],
    'Population (in millions)': [20.4, 19.0, 12.4, 7.1, 4.5]
}

# Create a DataFrame
df_cities = pd.DataFrame(data)

print(df_cities)

        City        State  Population (in millions)
0     Mumbai  Maharashtra                      20.4
1      Delhi        Delhi                      19.0
2  Bengaluru    Karnataka                      12.4
3    Chennai   Tamil Nadu                       7.1
4    Kolkata  West Bengal                       4.5

#3. Indian Cricket Players and Their Stats

In [5]:
data = {
    'Player': ['Virat Kohli', 'Sachin Tendulkar', 'MS Dhoni', 'Rohit Sharma', 'Shikhar Dhawan'],
    'Matches': [254, 200, 350, 227, 148],
    'Runs Scored': [12169, 18426, 10773, 9200, 5500],
    'Centuries': [43, 49, 10, 28, 17]
}

# Create a DataFrame
df_cricket = pd.DataFrame(data)

print(df_cricket)

             Player  Matches  Runs Scored  Centuries
0       Virat Kohli      254        12169         43
1  Sachin Tendulkar      200        18426         49
2          MS Dhoni      350        10773         10
3      Rohit Sharma      227         9200         28
4    Shikhar Dhawan      148         5500         17